{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Html templates</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>This is a html templates file...!</h1>
    {% for item in customers %}
    <div class="customer">
        <ul>
            <li>Name: {{ item.name }}</li>
            <li>Family: {{ item.family }}</li>
            <li>Mobile: {{ item.mobile }}</li>
            <li>Avg: {{ item.avg }}</li>
        </ul>
    </div>
    {% endfor %}
</body>
</html>