{% extends 'base.html' %}


{% block content %}
    <div class="posts">

        <b>{{ post.title }}</b>
        <br/>
        <span>Content: </span>
        <p>{{ post.content }}</p>

        <span>Author:</span>
        <b>{{ post.author }}</b>
        <br/>
        <span>Publish Date: </span>
        <b>{{ post.publish_date }}</b>

    </div>
    <hr>
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.comment_date }}</div>
            <strong>{{ comment.name }}</strong>
            <p>{{ comment.content }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
{% endblock %}
